<div class="row">
    <%= link_to '+', new_code_path, title: "Add new Item", class: 'btn btn-primary pull-right'%>
</div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th><%= @codes.length %> Items</th>
        <th>Code</th>
        <th>Description</th>
        <th>Handle</th>
      </tr>
    </thead>
    <tbody class="table-hover">
      <%
        id = 0
        @codes.each do |code|
        id += 1
      %>
        <tr>
          <th><%= id %></th>
          <td><%= code.description%></td>
          <td>
          <pre>
            <code class="language-css">
              <%= code.code %>
            </code>
          </pre>
          </td>
          <td>
              <%= link_to "", edit_code_path(code), title: "Edit Item", class: "glyphicon glyphicon-edit"%>
              <%= link_to '', code_path(code),
              title: "Delete Item",
              method: :delete,
              data: { confirm: 'Are you sure?' },
              class: ' glyphicon glyphicon-remove-circle ' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
