<div class="row">
    <%= link_to '+', new_word_path, class: 'btn btn-primary pull-right'%>
</div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>word</th>
        <th>Meaning</th>
        <th>Handle</th>
      </tr>
    </thead>
    <tbody class="table-hover">
      <%
        if @words
        id = 0
        @words.each do |word|
        id += 1
      %>
        <tr>
          <th><%= id %></th>
          <td><%= word.name%></td>
          <td><%= word.equivalent %></td>
          <td>
              <%= link_to "", edit_word_path(word) , class: "glyphicon glyphicon-edit"%>
          </td>
        </tr>
      <%
          end
        end 
      %>
    </tbody>
  </table>
