<h1>Edit info</h1>
<%= simple_form_for @info do |f| %>
    <div class="form-group">
        <%= f.input :title, label: 'Info Title', class: 'form-group' %>
    <%= f.fields_for :subinfo do |subinfo_form| %>
        <div class="">
            <div class="col-md-2"></div>
            <div class="col-md-10 form-group">
                <%= subinfo_form.input :title, label: 'subinfo Title', class: 'form-group' %>
                <%= subinfo_form.label :_destroy, "Remove Subinfo title", class: 'form-group'  %>
                <%= subinfo_form.check_box :_destroy, class: 'form-group' %>
            </div >
        </div>
    <% end %>
    <p>
        <%= f.submit 'Update info' %>
    </div>
<% end %>
