
<div class="row">
    <%= link_to '+', new_info_path, title: "Add new Item", class: 'btn btn-primary pull-right'%>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>id</th>
      <th>Info Title</th>
      <th>Subtitles</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody class="table-hover">
    <%
      if @infos
      id = 0
      @infos.each do |info|
      id += 1
    %>
      <tr>
        <td><%= id %></td>
        <td><%= info.title %></td>
        <td>
          <%  info.subinfos.each do |subinfo| %>
          <%= subinfo.title %>
          <% end %>
        </td>
        <td><%= link_to '', edit_info_path(info), class: "glyphicon glyphicon-edit" %></td>
      </tr>
    <% end 
       end %>


  </tbody>
</table></table>